<style>
  body {
    background-image: url("https://payload.cargocollective.com/1/20/666861/13232262/R0020600_2500_c.jpg")
        }
</style>

<center>
  <section class="scrollable_5">

    <section class="welcome">
      <h1>Stella & Tay's Tiendita</h1>
    </section>

  </section>
</center>
